<!-- <link
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  rel="stylesheet"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<div
  style="
    background: url('../../assets/images/home-bg.jpg') no-repeat;
    background-size: cover;
  "
>
  <div class="container">
    <div class="col-sm ">
      <div class="panel panel-default" id="outDiv">
        <div class="panel-heading styleE lb">
           Nouveau Recharge
          <button
            id="modeButton"
            class="btn btn-info styleE lb"
            type="submit"
            (click)="this.changeMode()"
          >
            {{ this.modeName }}
          </button>
        </div>
        



        <div class="panel-body" *ngIf="this.mode == 1">
          <div class="panel panel-default" id="inDiv">
            <div class="panel-body">
              <form #f="ngForm" (ngSubmit)="openDialog(f.value)">
                <div class="form-group">
                  <label id="lb" class="control-label styleE lb"
                    >numero telephone</label
                  >
                  <input
                    class="form-control"
                    type="text"
                    name="numTel"
                    placeholder="numero telephone"
                    [(ngModel)]="recharge.numTel"
                  />
                </div>
                <div class="form-group">
                  <label id="lb" class="control-label styleE lb" style="color: #bdbdbd ;">montant</label>
                  <input
                    class="form-control"
                    type="number"
                    name="montant"
                    placeholder="montant"
                    [(ngModel)]="recharge.montant"
                  />
                </div>
                <div class="form-group">
                  <label id="lb" class="control-label styleE lb"
                    >numero de compte</label
                  >

                  <div>
                    <select
                      class="form-control"
                      id="exampleFormControlSelect1"
                      *ngIf="comptes"
                      name="compteid"
                      [(ngModel)]="recharge.compteid"
                    >
                      <option
                        type="number"
                        *ngFor="
                          let c of comptes._embedded.compteCourants;
                          index as i
                        "
                        >{{ c.numCompte }}</option
                      >
                      <option
                        type="number"
                        *ngFor="
                          let c1 of comptes._embedded.compteEpargnes;
                          index as i1
                        "
                        >{{ c1.numCompte }}</option
                      >
                    </select>
                  </div>
                  <input type="hidden" name="date" />
                </div>

                <button class="btn btn-success styleE lb" type="submit">
                  Enregistrer <i class="fas fa-paper-plane"></i>
                </button>
              </form>
            </div>
          </div>
        </div>

        <div class="panel-body" style="height: 500px;" *ngIf="this.mode == 2">
          <div class="panel panel-default" *ngIf="comptes">
            <div
              class="panel-body"
              *ngFor="
                let c of comptes._embedded.compteCourants;
                index as i;
                first as f
              "
            >
              <h4 style="color: lightblue; font-weight: bold;">
                compte numero : {{ c.numCompte }}
              </h4>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">montant</th>
                    <th scope="col">date</th>
                    <th scope="col">Tél</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let r of listRecharges">
                    <tr *ngIf="r.compteid == c.numCompte" id="line">
                      <td>{{ r.montant + " DH" }}</td>
                      <td>{{ r.date | date: "MM/dd/yyyy 'à' h:mma" }}</td>
                      <td>{{ r.numTel }}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
            <!-- compte Epargne -->
            <div
              class="panel-body"
              *ngFor="
                let c of comptes._embedded.compteEpargnes;
                index as i;
                first as f
              "
            >
              <h4 style="color: red; font-weight: bold;">
                compte numero : {{ c.numCompte }}
              </h4>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">montant</th>
                    <th scope="col">date</th>
                    <th scope="col">Tél</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let r of listRecharges">
                    <tr *ngIf="r.compteid == c.numCompte" id="line">
                      <td>{{ r.montant + " DH" }}</td>
                      <td>{{ r.date | date: "MM/dd/yyyy 'à' h:mma" }}</td>
                      <td>{{ r.numTel }}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="container">
  <div class="d-flex justify-content-center" style="margin-top: 50px;">
    <div class="card border-primary mb-5">
      <div class="card-body">
        <h4 class="card-title pb-3" id="headerSaveRecharge">
          effectuer un recharge
        </h4>
        <form class="form-inline m-3" #f="ngForm" (ngSubmit)="onSaveRecharge()">
          <input
            class="form-control mx-5"
            type="text"
            name="numTel"
            placeholder="numero telephone"
            [(ngModel)]="recharge.numTel"
          />
          <input
            class="form-control mr-5"
            type="text"
            name="montant"
            placeholder="montant"
            [(ngModel)]="recharge.montant"
          />
          <div class="form-check mr-5">
            <div class="form-group">
              <select
                class="form-control"
                *ngIf="comptes"
                name="compteid"
                [(ngModel)]="recharge.compteid"
              >
                <option selected disabled>numero de compte</option>
                <option
                  *ngFor="let c of comptes._embedded.compteCourants; index as i"
                  >{{ c.numCompte }}</option
                >
                <option
                  *ngFor="
                    let c1 of comptes._embedded.compteEpargnes;
                    index as i1
                  "
                  >{{ c1.numCompte }}</option
                >
              </select>
            </div>
          </div>

          <button class="btn btn-light bg-primary mr-5" type="submit">
            <i class="fas fa-paper-plane"></i>
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="container" id="compteContainer" *ngIf="comptes">
    <div id="accordion">
      <div
        class="card"
        *ngFor="
          let c of comptes._embedded.compteCourants;
          index as i;
          first as f
        "
        [ngStyle]="{
          'background-color': 'rgba(200, 200, 200, 0.7)',
          'border-radius': i === 0 ? '15px 15px 0 0' : '0 0 0 0',
          border: '2px solid #616161'
        }"
      >
        <div
          class="card-header"
          [ngStyle]="{
            'background-color': '#616161',
            'border-bottom': '4px solid #ffffff',
            'border-radius': i === 0 ? '15px 15px 0 0' : '0 0 0 0',
            height: '40px'
          }"
        >
          <h5 style="display: flex; justify-content: center; margin: 0;">
            <a
              class="headerLienInColapse"
              href="#collapse{{ i }}"
              data-parent="#accordion"
              data-toggle="collapse"
            >
              Numero de compte : {{ c.numCompte }}
            </a>
          </h5>
        </div>

        <div
          id="collapse{{ i }}"
          [ngClass]="{ 'collapse show': i === 0, collapse: i != 0 }"
        ></div>

          <div *ngFor="let r of listRecharges" style="display: inline-block;">
            <div *ngIf="r.compteid == c.numCompte">
              <div class="card text-white m-4 RechargeInfoInHistorique">
                <div class="card-header headerOfInInfoCardRecharge">
                  {{ r.montant + " DH" }}
                </div>
                <div class="card-body">
                  <h6 class="card-title bodyOfInInfoCardRecharge">
                    {{ r.date | date: "MM/dd/yyyy 'à' h:mma" }}
                    <p style="float: right;">Tél : {{ r.numTel }}</p>
                  </h6>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container mt-5" id="compteContainer2" *ngIf="comptes">
    <div id="accordion2">
      <div
        class="card"
        *ngFor="
          let c of comptes._embedded.compteEpargnes;
          index as i;
          first as f
        "
        [ngStyle]="{
          'background-color': 'rgba(200, 200, 200, 0.7)',
          'border-radius': i === 0 ? '15px 15px 0 0' : '0 0 0 0',
          border: '2px solid #616161'
        }"
      >
        <div
          class="card-header"
          [ngStyle]="{
            'background-color': '#616161',
            'border-bottom': '4px solid #ffffff',
            'border-radius': i === 0 ? '15px 15px 0 0' : '0 0 0 0',
            height: '40px'
          }"
        >
          <h5 style="display: flex; justify-content: center; margin: 0;">
            <a
              class="headerLienInColapse"
              href="#collapse2{{ i }}"
              data-parent="#accordion"
              data-toggle="collapse"
            >
              Numero de compte : {{ c.numCompte }}
            </a>
          </h5>
        </div>

        <div
          id="collapse2{{ i }}"
          [ngClass]="{ 'collapse show': i === 0, collapse: i != 0 }"
        >

          <div *ngFor="let r of listRecharges" style="display: inline-block;">
            <div *ngIf="r.compteid == c.numCompte">
              <div class="card text-white m-4 RechargeInfoInHistorique">
                <div class="card-header headerOfInInfoCardRecharge">
                  {{ r.montant + " DH" }}
                </div>
                <div class="card-body">
                  <h6 class="card-title bodyOfInInfoCardRecharge">
                    {{ r.date | date: "MM/dd/yyyy 'à' h:mma" }}
                    <p style="float: right;">Tél : {{ r.numTel }}</p>
                  </h6>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
