<link
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  rel="stylesheet"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="panel panel-default" id="outDiv">
        <div class="panel-heading">Recharger</div>

        <div class="panel-body">
          <div class="panel panel-default" id="inDiv">
            <div class="panel-body">
              <form #f="ngForm" (ngSubmit)="onSaveRecharge()">
                <hr />
                <div class="form-group">
                  <label class="control-label">Numero de telephone:</label>
                  <input
                    class="form-control"
                    type="text"
                    name="numTel"
                    placeholder="numero telephone"
                    [(ngModel)]="recharge.numTel"
                  />
                </div>

                <div class="form-group">
                  <label class="control-label">Recharge de :</label>
                  <input
                    class="form-control"
                    type="text"
                    name="montant"
                    placeholder="numero telephone"
                    [(ngModel)]="recharge.montant"
                  />
                  <label class="control-label">numero de compte :</label>
                  <select
                    *ngIf="comptes"
                    class="form-control"
                    name="compteid"
                    [(ngModel)]="recharge.compteid"
                  >
                    <option
                      *ngFor="
                        let c of comptes._embedded.compteCourants;
                        index as i
                      "
                      >{{ c.numCompte }}</option
                    >
                    <option
                      *ngFor="
                        let c1 of comptes._embedded.compteEpargnes;
                        index as i1
                      "
                      >{{ c1.numCompte }}</option
                    >
                  </select>
                </div>

                <button class="btn btn-success" type="submit">
                  Effectuer recharge
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-sm">
      <div class="panel panel-default">
        <div class="panel-heading">Historique des recharges</div>

        <div class="panel-body" style="height: 500px;">
          <div class="panel panel-default">
            <div class="panel-body">
              <table class="table table-striped">
                <tr>
                  <th>Recharge</th>
                  <th>date</th>
                  <th>numero:</th>
                </tr>

                 <tr
                  *ngFor="let p of rechargesList._embedded.rechargeTelephones"
                > 
                 <td *ngIf="p.operationType == 'R'">{{ p.compteId }}</td> 
                <td>
                    {{ p.montant + " dh" }}
                  </td>
                  <td>{{ p.date }}</td>
                  <td>{{ p.numTel }}</td>
                </tr> 
              </table>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>

  <!-- colapse comptecourant-->
  <div class="container" id="compteContainer" *ngIf="comptes">
    <div id="accordion">
      <div
        class="card"
        *ngFor="
          let c of comptes._embedded.compteCourants;
          index as i;
          first as f
        "
        [ngStyle]="{
          'background-color': 'rgba(200, 200, 200, 0.7)',
          'border-radius': i === 0 ? '15px 15px 0 0' : '0 0 0 0',
          border: '2px solid #16b4f3'
        }"
      >
        <div
          class="card-header"
          [ngStyle]="{
            'background-color': '#16b4f3',
            'border-bottom': '4px solid #ffffff',
            'border-radius': i === 0 ? '15px 15px 0 0' : '0 0 0 0',
            height: '40px'
          }"
        >
          <h5 style="display: flex; justify-content: center; margin: 0;">
            <a
              href="#collapse{{ i }}"
              data-parent="#accordion"
              data-toggle="collapse"
              style="
                color: rgb(248, 248, 248);
                font-size: 20px;
                font-weight: bold;
              "
            >
              Numero de compte : {{ c.numCompte }}
            </a>
          </h5>
        </div>

        <div
          id="collapse{{ i }}"
          [ngClass]="{ 'collapse show': i === 0, collapse: i != 0 }"
        >
          <!-- card -->
          <div *ngFor="let r of listRecharges" style="display: inline-block;">
            <div *ngIf="r.compteid == c.numCompte">
              <div
                class="card text-white m-4"
                style="
                  width: 335px;
                  display: inline-block;
                  background-color: rgba(241, 241, 241, 0.884);
                "
              >
                <div
                  class="card-header"
                  style="
                    text-align: center;
                    font-weight: bold;
                    font-size: 20px;
                    color: rgba(255, 50, 50, 0.904);
                  "
                >
                  {{ r.montant + " DH" }}
                </div>
                <div class="card-body">
                  <h6
                    class="card-title"
                    style="
                      font-size: 16px;
                      font-weight: bold;
                      color: rgba(32, 32, 32, 0.904);
                    "
                  >
                    {{ r.date | date: "MM/dd/yyyy 'à' h:mma" }}
                    <p style="float: right;">Tél : {{ r.numTel }}</p>
                  </h6>
                </div>
              </div>
            </div>
            <!-- end card -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- colapse CompteEpargne-->
  <div class="container mt-5" id="compteContainer2" *ngIf="comptes">
    <div id="accordion2">
      <div
        class="card"
        *ngFor="
          let c of comptes._embedded.compteEpargnes;
          index as i;
          first as f
        "
        [ngStyle]="{
          'background-color': 'rgba(200, 200, 200, 0.7)',
          'border-radius': i === 0 ? '15px 15px 0 0' : '0 0 0 0',
          border: '2px solid #16b4f3'
        }"
      >
        <!-- [ngStyle]="{
        'background-color' : '#16b4f3', 'border-bottom': 4px solid '#ffffff','border-radius': i === 0 ? 15px 15px 0 0 : 0 0 0 0, 'height': 40px}" -->
        <div
          class="card-header"
          [ngStyle]="{
            'background-color': '#16b4f3',
            'border-bottom': '4px solid #ffffff',
            'border-radius': i === 0 ? '15px 15px 0 0' : '0 0 0 0',
            height: '40px'
          }"
        >
          <h5 style="display: flex; justify-content: center; margin: 0;">
            <a
              href="#collapse2{{ i }}"
              data-parent="#accordion"
              data-toggle="collapse"
              style="
                color: rgb(248, 248, 248);
                font-size: 20px;
                font-weight: bold;
              "
            >
              Numero de compte : {{ c.numCompte }}
            </a>
          </h5>
        </div>

        <div
          id="collapse2{{ i }}"
          [ngClass]="{ 'collapse show': i === 0, collapse: i != 0 }"
        >
          <!-- card -->
          <div *ngFor="let r of listRecharges" style="display: inline-block;">
            <div *ngIf="r.compteid == c.numCompte">
              <div
                class="card text-white m-4"
                style="
                  width: 335px;
                  display: inline-block;
                  background-color: rgba(241, 241, 241, 0.884);
                "
              >
                <div
                  class="card-header"
                  style="
                    text-align: center;
                    font-weight: bold;
                    font-size: 20px;
                    color: rgba(255, 50, 50, 0.904);
                  "
                >
                  {{ r.montant + " DH" }}
                </div>
                <div class="card-body">
                  <h6
                    class="card-title"
                    style="
                      font-size: 16px;
                      font-weight: bold;
                      color: rgba(32, 32, 32, 0.904);
                    "
                  >
                    {{ r.date | date: "MM/dd/yyyy 'à' h:mma" }}
                    <p style="float: right;">Tél : {{ r.numTel }}</p>
                  </h6>
                </div>
              </div>
            </div>
            <!-- end card -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
