<link
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  rel="stylesheet"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container">
  <div class="d-flex justify-content-center" style="margin-top: 50px;">
    <div class="card border-primary mb-5">
      <div class="card-body">
        <h4
          class="card-title pb-3"
          style="text-align: center; font-size: 20px; font-weight: bold;"
        >
          effectuer un recharge
        </h4>
        <form class="form-inline m-3" #f="ngForm" (ngSubmit)="onSaveRecharge()">
          <input
            class="form-control mx-5"
            type="text"
            name="numTel"
            placeholder="numero telephone"
            [(ngModel)]="recharge.numTel"
          />
          <input
            class="form-control mr-5"
            type="text"
            name="montant"
            placeholder="montant"
            [(ngModel)]="recharge.montant"
          />
          <div class="form-check mr-5">
            <div class="form-group">
              <label for="gender"></label>
              <select
                class="form-control"
                *ngIf="comptes"
                name="compteid"
                [(ngModel)]="recharge.compteid"
                id="gender"
              >
                <option selected disabled>numero de compte</option>
                <option
                  *ngFor="let c of comptes._embedded.compteCourants; index as i"
                  >{{ c.numCompte }}</option
                >
                <option
                  *ngFor="
                    let c1 of comptes._embedded.compteEpargnes;
                    index as i1
                  "
                  >{{ c1.numCompte }}</option
                >
              </select>
            </div>
          </div>

          <button class="btn btn-light bg-primary mr-5" type="submit">
            <i class="fas fa-paper-plane"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
  <!-- colapse comptecourant-->
  <div class="container" id="compteContainer" *ngIf="comptes">
    <div id="accordion">
      <div
        class="card"
        *ngFor="
          let c of comptes._embedded.compteCourants;
          index as i;
          first as f
        "
        [ngStyle]="{
          'background-color': 'rgba(200, 200, 200, 0.7)',
          'border-radius': i === 0 ? '15px 15px 0 0' : '0 0 0 0',
          border: '2px solid #16b4f3'
        }"
      >
        <div
          class="card-header"
          [ngStyle]="{
            'background-color': '#16b4f3',
            'border-bottom': '4px solid #ffffff',
            'border-radius': i === 0 ? '15px 15px 0 0' : '0 0 0 0',
            height: '40px'
          }"
        >
          <h5 style="display: flex; justify-content: center; margin: 0;">
            <a
              href="#collapse{{ i }}"
              data-parent="#accordion"
              data-toggle="collapse"
              style="
                color: rgb(248, 248, 248);
                font-size: 20px;
                font-weight: bold;
              "
            >
              Numero de compte : {{ c.numCompte }}
            </a>
          </h5>
        </div>

        <div
          id="collapse{{ i }}"
          [ngClass]="{ 'collapse show': i === 0, collapse: i != 0 }"
        >
          <!-- card -->
          <div *ngFor="let r of listRecharges" style="display: inline-block;">
            <div *ngIf="r.compteid == c.numCompte">
              <div
                class="card text-white m-4"
                style="
                  width: 335px;
                  display: inline-block;
                  background-color: rgba(241, 241, 241, 0.884);
                "
              >
                <div
                  class="card-header"
                  style="
                    text-align: center;
                    font-weight: bold;
                    font-size: 20px;
                    color: rgba(255, 50, 50, 0.904);
                  "
                >
                  {{ r.montant + " DH" }}
                </div>
                <div class="card-body">
                  <h6
                    class="card-title"
                    style="
                      font-size: 16px;
                      font-weight: bold;
                      color: rgba(32, 32, 32, 0.904);
                    "
                  >
                    {{ r.date | date: "MM/dd/yyyy 'à' h:mma" }}
                    <p style="float: right;">Tél : {{ r.numTel }}</p>
                  </h6>
                </div>
              </div>
            </div>
            <!-- end card -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- colapse CompteEpargne-->
  <div class="container mt-5" id="compteContainer2" *ngIf="comptes">
    <div id="accordion2">
      <div
        class="card"
        *ngFor="
          let c of comptes._embedded.compteEpargnes;
          index as i;
          first as f
        "
        [ngStyle]="{
          'background-color': 'rgba(200, 200, 200, 0.7)',
          'border-radius': i === 0 ? '15px 15px 0 0' : '0 0 0 0',
          border: '2px solid #16b4f3'
        }"
      >
        <!-- [ngStyle]="{
        'background-color' : '#16b4f3', 'border-bottom': 4px solid '#ffffff','border-radius': i === 0 ? 15px 15px 0 0 : 0 0 0 0, 'height': 40px}" -->
        <div
          class="card-header"
          [ngStyle]="{
            'background-color': '#16b4f3',
            'border-bottom': '4px solid #ffffff',
            'border-radius': i === 0 ? '15px 15px 0 0' : '0 0 0 0',
            height: '40px'
          }"
        >
          <h5 style="display: flex; justify-content: center; margin: 0;">
            <a
              href="#collapse2{{ i }}"
              data-parent="#accordion"
              data-toggle="collapse"
              style="
                color: rgb(248, 248, 248);
                font-size: 20px;
                font-weight: bold;
              "
            >
              Numero de compte : {{ c.numCompte }}
            </a>
          </h5>
        </div>

        <div
          id="collapse2{{ i }}"
          [ngClass]="{ 'collapse show': i === 0, collapse: i != 0 }"
        >
          <!-- card -->
          <div *ngFor="let r of listRecharges" style="display: inline-block;">
            <div *ngIf="r.compteid == c.numCompte">
              <div
                class="card text-white m-4"
                style="
                  width: 335px;
                  display: inline-block;
                  background-color: rgba(241, 241, 241, 0.884);
                "
              >
                <div
                  class="card-header"
                  style="
                    text-align: center;
                    font-weight: bold;
                    font-size: 20px;
                    color: rgba(255, 50, 50, 0.904);
                  "
                >
                  {{ r.montant + " DH" }}
                </div>
                <div class="card-body">
                  <h6
                    class="card-title"
                    style="
                      font-size: 16px;
                      font-weight: bold;
                      color: rgba(32, 32, 32, 0.904);
                    "
                  >
                    {{ r.date | date: "MM/dd/yyyy 'à' h:mma" }}
                    <p style="float: right;">Tél : {{ r.numTel }}</p>
                  </h6>
                </div>
              </div>
            </div>
            <!-- end card -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
