<nav id="mainnav" class="navbar navbar-expand-sm navbar-light bg-light bg-dark">
  <div class="container" id="first">
    <a class="navbar-brand" href="#"
      ><img src="/assets/images/ebanking.png"
    /></a>
    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><i class="fas fa-user-times"></i> Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container sticky-top mt-3 mb-5" id="headerDiv">
  <header id="main-header">
    <ul class="nav nav-fill nav-pills">
      <li class="nav-item">
        <a class="nav-link aHover" href="#">Virment Bancaire</a>
      </li>
      <li class="nav-item">
        <a class="nav-link aHover" id="day" href="#">Recharge Telephonique</a>
      </li>
      <li class="nav-item">
        <a class="nav-link aHover" href="#">Gestion de comptes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link aHover" href="#"
          ><span id="profile-icon" class="fas fa-user-circle fa-lg"></span
        ></a>
      </li>
    </ul>
  </header>
  <router-outlet></router-outlet>
</div>
