<div class="container" id="clientInfo">
  <h1 id="nomprenom">Nom Prenom</h1>
  <div class="container">
    <p id="introPara">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus,
      impedit non eligendi dolor illo accusantium molestias tenetur laudantium
      nobis voluptate sed rem praesentium consectetur exercitationem vitae ea
      quae vel id! Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Temporibus, impedit non eligendi dolor illo accusantium molestias tenetur
      laudantium nobis voluptate sed rem praesentium consectetur exercitationem
      vitae ea quae vel id! Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Temporibus, impedit non eligendi dolor illo accusantium molestias
      tenetur laudantium nobis voluptate sed rem praesentium consectetur
      exercitationem vitae ea quae vel id!
    </p>
    <a
      class="btn btn-outline-primary"
      style="margin-left: 750px;"
      routerLink="/profiles"
      ><i class="fas fa-plus"></i> plus de détails
    </a>
  </div>
</div>

<div class="container" id="compteContainer" *ngIf="comptes">
  <div id="accordion">
    <div
      class="card"
      *ngFor="let c of comptes._embedded.compteCourants; index as i; first as f"
    >
      <div
        class="card-header"
        style="background-color: rgba(151, 148, 148, 0.842);"
      >
        <h5>
          <a
            href="#collapse{{ i }}"
            data-parent="#accordion"
            data-toggle="collapse"
            style="color: rgb(197, 38, 38);"
          >
            Numero de compte {{ c.numCompte }}
          </a>
        </h5>
      </div>

      <div
        id="collapse{{ i }}"
        [ngClass]="{ 'collapse show': i === 0, collapse: i != 0 }"
      >
        <div class="card-body">
          <table class="table table-striped">
            <tbody>
              <tr>
                <th scope="row">type du compte</th>
                <td>compte Courant</td>
              </tr>
              <tr>
                <th scope="row">date de creation</th>
                <td>{{ c.dateCreation }}</td>
              </tr>
              <tr>
                <th scope="row">Solde</th>
                <td>{{ c.solde }}</td>
              </tr>
              <tr>
                <th scope="row">taux d'interets</th>
                <td>{{ c.tauxInterets }}</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>
                  <a routerLink="/comptes"
                    >voir plus <i class="fas fa-arrow-alt-circle-right"></i
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" id="compteContainer" *ngIf="comptes">
  <div id="accordion1">
    <div
      class="card"
      *ngFor="let c1 of comptes._embedded.compteEpargnes; index as i1"
    >
      <div
        class="card-header"
        style="background-color: rgba(151, 148, 148, 0.842);"
      >
        <h5>
          <a
            href="#collapse1{{ i1 }}"
            data-parent="#accordion1"
            data-toggle="collapse"
          >
            Numero de compte {{ c1.numCompte }}
          </a>
        </h5>
      </div>

      <div
        id="collapse1{{ i1 }}"
        [ngClass]="{ 'collapse show': i1 === 0, collapse: i1 != 0 }"
      >
        <div class="card-body">
          <table class="table table-striped">
            <tbody>
              <tr>
                <th scope="row">type du compte</th>
                <td>compte Epargne</td>
              </tr>
              <tr>
                <th scope="row">date de creation</th>
                <td>{{ c1.dateCreation }}</td>
              </tr>
              <tr>
                <th scope="row">Solde</th>
                <td>{{ c1.solde }}</td>
              </tr>
              <tr>
                <th scope="row">taux d'interets</th>
                <td>{{ c1.tauxInterets }}</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>
                  <a routerLink="/comptes"
                    >voir plus <i class="fas fa-arrow-alt-circle-right"></i
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
