<div class="container">
  <div class="container">
    <!-- <p id="introPara">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus,
      impedit non eligendi dolor illo accusantium molestias tenetur laudantium
      nobis voluptate sed rem praesentium consectetur exercitationem vitae ea
    </p> -->
    <div class="card bg-dark text-white p-2" id="clientInfo">
      <blockquote class="card-bodyquote">
        <p *ngIf="client">
          &nbsp;&nbsp;&nbsp;&nbsp;Bienvenue
          <i
            style="
              color: rgb(248, 4, 228);
              font-weight: bold;
              text-transform: capitalize;
            "
            >{{ client.nom }} {{ client.prenom }}</i
          >
          <br />
          Dans cette application vous pouvez consulter votre comptes, effectuer
          des virements et des recharges telephonique tout en ligne
        </p>
        <footer class="blockquote-footer">
          <small>
            genie informatique
            <cite title="Source Title">Ensa</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <!-- <a
      class="btn btn-outline-primary"
      style="margin-left: 750px;"
      routerLink="/profiles"
      ><i class="fas fa-plus"></i> Voir Profile
    </a> -->
  </div>
</div>

<div class="container" id="compteContainer" *ngIf="comptes">
  <div id="accordion">
    <div
      class="card"
      *ngFor="let c of comptes._embedded.compteCourants; index as i; first as f"
    >
      <div
        class="card-header"
        style="background-color: rgba(151, 148, 148, 0.842);"
      >
        <h5 style="display: flex; justify-content: center;">
          <a
            href="#collapse{{ i }}"
            data-parent="#accordion"
            data-toggle="collapse"
            style="color: rgb(197, 38, 38); font-size: 25px; font-weight: bold;"
          >
            Numero de compte : {{ c.numCompte }}
          </a>
        </h5>
      </div>

      <div
        id="collapse{{ i }}"
        [ngClass]="{ 'collapse show': i === 0, collapse: i != 0 }"
      >
        <div class="card-body">
          <table class="table table-striped">
            <tbody>
              <tr>
                <th scope="row">Type du compte</th>
                <td>compte Courant</td>
              </tr>
              <tr>
                <th scope="row">Date de creation</th>
                <td>{{ c.dateCreation | date: "MM/dd/yyyy à h:mma"}}</td>
              </tr>
              <tr>
                <th scope="row">Solde</th>
                <td>{{ c.solde }}</td>
              </tr>
              <tr>
                <th scope="row">Decouvert</th>
                <td>{{ c.decouvert }}</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>
                  <a (click)="goToMoreInfos(c.numCompte)"
                    >voir plus <i class="fas fa-arrow-alt-circle-right"></i
                  ></a>
                </td>
              </tr>
            </tbody> 
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" id="compteContainer" *ngIf="comptes">
  <div id="accordion1">
    <div
      class="card"
      *ngFor="let c1 of comptes._embedded.compteEpargnes; index as i1"
    >
      <div
        class="card-header"
        style="background-color: rgba(151, 148, 148, 0.842);"
      >
        <h5 style="display: flex; justify-content: center;">
          <a
            href="#collapse1{{ i1 }}"
            data-parent="#accordion1"
            data-toggle="collapse"
            style="font-size: 25px; font-weight: bold;"
          >
            Numero de compte : {{ c1.numCompte }}
          </a>
        </h5>
      </div>

      <div
        id="collapse1{{ i1 }}"
        [ngClass]="{ 'collapse show': i1 === 0, collapse: i1 != 0 }"
      >
        <div class="card-body">
          <table class="table table-striped">
            <tbody>
              <tr>
                <th scope="row">Type du compte</th>
                <td>compte Epargne</td>
              </tr>
              <tr>
                <th scope="row">Date de creation</th>
                <td>{{ c1.dateCreation |  date: "MM/dd/yyyy à h:mma"}}</td>
              </tr>
              <tr>
                <th scope="row">Solde</th>
                <td>{{ c1.solde }}</td>
              </tr>
              <tr>
                <th scope="row">Taux d'interets</th>
                <td>{{ c1.tauxInterets }}</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>
                  <a (click)="goToMoreInfos(c1.numCompte)"
                    >voir plus <i class="fas fa-arrow-alt-circle-right"></i
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
