.lb{
    font-weight: bold;
    margin:20px;
    color: #204d74;
}
.styleE{
  color:black;
  font-family:"Arial ";
}

.centre{
  background-repeat: repeat;
  margin-left: 100px;
  margin-right: auto;
  margin-top: 25px;
  min-height: 635px;
  width: 80%;
}
