<p></p>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Consultation d'un compte</h4></div>
        <div class="panel-body">
            <form #f="ngForm" (ngSubmit)="consulterCompte(f.value)">
                <div class="form-group">
                    <label style="margin:8px">Numero de Compte :</label>
                    <input type="number" name="numero" ngModel style="margin:8px">
                    <button type="submit" class="btn btn-secondary" style="margin:8px">
                        <span class="glyphicon glyphicon-search"></span>
                        chercher</button>
                        <label style="color: red;">{{message}}</label>
                </div>
            </form>
        </div> 
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4>Information sur le compte</h4></div>
        <div class="panel-body" *ngIf="compte">
            <div>
                <label>Client :</label>
                <label class="lb" >{{compte.clientNom}}</label>
            </div>
            <div>
                <label>Numero du Compte: </label>
                <label class="lb">{{compte.numCompte}}</label>
            </div>
            <div>
                <label>Date de creation: </label>
                <label class="lb">{{compte.dateCreation | date: "MM/dd/yyyy à h:mma"}}</label>
            </div>
            <div>
                <label>Solde: </label>
                <label class="lb">{{compte.solde}}</label>
            </div>
            <div *ngIf="compte.decouvert">
                <label>Type: </label>
                <label class="lb">Courant</label><br>
                <label>Decouvert: </label>
                <label class="lb">{{compte.decouvert}}</label>
            </div>
            <div *ngIf="compte.tauxInterets">
                <label>Type: </label>
                <label class="lb">Epargne</label><br>
                <label>Taux: </label>
                <label class="lb">{{compte.tauxInterets}}</label>
            </div>
        </div>
    </div>
</div>