#div{
    height: 150px;
    vertical-align: bottom;
}
.padding-0{
    padding-right:0;
    padding-left:0;
}
.lb{
    font-size: xx-large;
    color: white;
    vertical-align: bottom;
    font-family:Lucida Bright;
}

.t{
    font-size: 30px;
    font-weight: bold;
    border-color: white;
}
#img{
    background-image: url("../../assets/images/client.jpg");
    background-size: cover;
    border-radius: 20px;
    margin-right: 0;
    height: 540px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);;
}

#inf{
    margin-top: 14px;

}

.row{
    margin-top: 20px;
}

.container{
    font-family: 'Josefin Sans', sans-serif;
}

@font-face{
    font-family: Josefin Sans;
    src: url(../../assets/images/client.jpg);
}

.table{
  color:black;
    border:black;
  }
.table > tbody > tr > td{
  color:black;
    border:black;
    margin-bottom: 5px;
    font-size: 18px;
}
.table > tbody > tr > th{
    border:black;
    margin-bottom: 5px;
    font-size: 18px;
}

.h1{
    margin-bottom: 30px;
}

.panel-default{
    border-radius: 0;
    height: 508px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);;
}

