.padding-0{
    padding-right:0;
    padding-left:0;

}
#img{
    background-image: url("../../assets/images/client.jpg");
    background-size: cover;
    border-radius: 20px;
    margin-right: 0;
    height: 540px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
    margin-top: 40px;
    margin-bottom: 40px;
}

#inf{
    margin-top: 54px;
    margin-bottom: 54px;
}

.row{
    margin-top: 20px;
}

.container{
    font-family: 'Josefin Sans', sans-serif;
    color: #40424a;
}

@font-face{
    font-family: Josefin Sans;
    src: url(../../assets/fonts/JosefinSans-VariableFont_wght.ttf);
}

.table{
  color:black;
    border:black;
  }
.table > tbody > tr > td{
  color:black;
    border:black;
    margin-bottom: 5px;
    font-size: 18px;
}
.table > tbody > tr > th{
    border:black;
    margin-bottom: 5px;
    font-size: 18px;
}

.h1{
    margin-bottom: 30px;
    line-height: normal;
    font-weight: bold;
}

.panel-default{
    border-radius: 0;
    height: 508px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);;
}

