/*@import "~bootstrap/dist/css/bootstrap.css";*/
/* You can add global styles to this file, and also import other style files */

/*body {
  background: url(/assets/images/money.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}*/

/*body {


  padding-bottom: 0px;
  min-height: 100vh;
  position: relative;


}*/




/*}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/
