label{
  margin-right: 10px;
}

select.form-control { min-height: 35px; /** OR */ line-height: 35px; }

#modeButton{
  margin-top: 0;
  float: right;
}

.table-hover{
  color:black;
}

.lb{
  font-weight: bold;
  margin:20px;
  color: #204d74;
}
.styleE{
  font-family:"Arial Black";
}
.centre{
  background-repeat: repeat;
  margin-left: 80px;
  margin-right: auto;
  margin-top: 25px;
  min-height: 635px;
  width: 80%;
}


.panel-heading{
  background-color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}


.panel-body{
  background-color: rgba(113, 115, 121, 0.5);
}
.panel-success{
  background-color: rgba(113, 115, 121, 0.5);
}
.panel-default{
  background-color: rgba(113, 115, 121, 0.5);
}
.form-control{
  background-color: rgba(113, 115, 121, 0.5);
  color: white;
}
.form-control::placeholder{
  color: white;
}

#lb{
  color: #bdbdbd ;
  font-size: 16px;
  margin-left: 0;
}

.btn-success{
  margin-left: 0;
}

.col-sm{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@font-face{
  font-family: Josefin Sans;
  src: url(../../assets/fonts/JosefinSans-VariableFont_wght.ttf);
}