
<div  style="background: url('../../assets/images/home-bg.jpg') no-repeat; background-size:cover;">
    <div class="col-sm  centre">
      <div class="panel panel-success" id="outDiv">
        <div class="panel-heading styleE lb">
          Nouveau virement
          <button
            id="modeButton"
            class="btn btn-info styleE lb"
            type="submit"
            (click)="this.changeMode()"
          >
            {{ this.modeName }}
          </button>
        </div> 

        <div class="panel-body" *ngIf="this.mode == 1">
          <div class="panel panel-default" id="inDiv">
            <div class="panel-body">
              <form #f="ngForm" (ngSubmit)="onSaveVirement(f.value)">
                <div class="form-group">
                  <label class="control-label styleE lb">Montant</label>
                  <input
                    class="form-control"
                    type="text"
                    name="montant"
                    placeholder="Montant a envoyer"
                    ngModel
                  />
                </div>
                <div class="form-group">
                  <label class="control-label styleE lb">Transfert de :</label>

                  <div>
                    <select
                      class="form-control"
                      id="exampleFormControlSelect1"
                      *ngIf="!isEpargne"
                      name="compte"
                      [(ngModel)]="compteId"
                    >
                      <option
                        *ngFor="let c of comptes._embedded.compteCourants"
                        [ngValue]="c.numCompte"
                        >{{ c.numCompte }}</option
                      >
                    </select>
                  </div>
                  <input type="hidden" name="date" />
                </div>
                <div class="form-group">
                  <label class="control-label styleE lb">Vers :</label>
                  <input
                    class="form-control"
                    type="number"
                    name="destinataireCompte"
                    placeholder="numero de compte destinataire"
                    ngModel
                  />
                </div>
                <button class="btn btn-success styleE lb" type="submit">
                  Enregistrer
                </button>
              </form>
            </div>
          </div>
        </div>

        <div class="panel-body" style="height: 500px;" *ngIf="this.mode == 2">
          <div class="panel panel-default">
            <div class="panel-body">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">de:</th>
                    <th scope="col">montant</th>
                    <th scope="col">date</th>
                    <th scope="col">vers :</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let v of virements._embedded.virements" id="line">
                    <td>{{ v.compteId }}</td>
                    <td>{{ v.montant }}</td>
                    <td>{{ v.date | date: "MM/dd/yyyy 'à' h:mma" }}</td>
                    <td>{{ v.destCompteId }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
