<body id="top">

<!-- start preloader -->
<div class="preloader">
  <div class="sk-spinner sk-spinner-wave">
    <div class="sk-rect1"></div>
    <div class="sk-rect2"></div>
    <div class="sk-rect3"></div>
    <div class="sk-rect4"></div>
    <div class="sk-rect5"></div>
  </div>
</div>
<!-- end preloader -->
<!-- start navigation -->
<nav class="navbar navbar-default templatemo-nav" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand"><img src="assets/images/ebanking.png" class="navbar-brand" alt="team img 1"></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right text-uppercase">

        <li><a href="#top"><span>Accueil</span></a></li>
        <li><a routerLink="/virement"><span>Virements</span></a></li>
        <li><a routerLink="/recharge"><span>Recharges</span></a></li>
        <li><a routerLink="/comptes"><span>Comptes</span></a></li>
        <li><a routerLink="/profiles"><span>Profile</span></a></li>
        <li><a href="/"><span>Qui somme Nous</span></a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- end navigation -->
<router-outlet>
</router-outlet>

<!-- start contact -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">CONTACT <span>E-Banking</span></h2>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
        <form action="#" method="post">
          <label>NOM</label>
          <input name="fullname" type="text" class="form-control" id="fullname">

          <label>EMAIL</label>
          <input name="email" type="email" class="form-control" id="email">

          <label>MESSAGE</label>
          <textarea name="message" rows="4" class="form-control" id="message"></textarea>

          <input type="submit" class="form-control">
        </form>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
        <address>
          <p class="address-title">ADDRESS</p>
          <span></span>
          <p><i class="fa fa-phone"></i> 010-020-0340</p>
          <p><i class="fa fa-envelope-o"></i> e-banking@uca.ma</p>
          <p><i class="fa fa-map-marker"></i>  BP 575 Boulevard Abdelkrim Al Khattabi, Guéliz، 40000</p>
        </address>
        <ul class="social-icon">
          <li><h4>NOUS SOMMES SOCIAL</h4></li>
          <li><a href="#" class="fa fa-facebook"></a></li>
          <li><a href="#" class="fa fa-twitter"></a></li>
          <li><a href="#" class="fa fa-instagram"></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- end contact -->

<!-- start copyright -->
<footer id="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
          Copyright &copy; 2020 E-banking</p>
      </div>
    </div>
  </div>
</footer>
<!-- end copyright -->

</body>
